<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Luthier.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.DXGI" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Luthier.Model.Properties.Settings>
      <setting name="GraphicPlaneGridAppearance" serializeAs="Xml">
        <value>
          <GraphicPlaneGridAppearence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <MajorAxisColour>
              <X>0.6</X>
              <Y>0.6</Y>
              <Z>0.6</Z>
              <W>1</W>
            </MajorAxisColour>
            <MinorAxisColour>
              <X>0.8</X>
              <Y>0.8</Y>
              <Z>0.8</Z>
              <W>1</W>
            </MinorAxisColour>
          </GraphicPlaneGridAppearence>
        </value>
      </setting>
    </Luthier.Model.Properties.Settings>
  </userSettings>
</configuration>